html {
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #237a57, #093028); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
}

.btn-grad {
  background-image: linear-gradient(to right, #16a085 0%, #f4d03f 51%, #16a085 100%);
}
.btn-grad {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.convert-container {
  margin: 0 auto;
  background-color: #dcf5ef;
  max-width: 25%;
}
